<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Guest</h4>
                        <p class="card-category">Complete profile</p>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/hostel/addGuest" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name <span class="text-warning">*</span>
                                        </label>
                                        <input type="text" name="Guestname" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Age<span
                                                class="text-warning">*</span></label>
                                        <input type="number" name="age" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <label class="bmd-label-floating">Id Proof <span class="text-warning">*</span>
                                        </label>
                                        <br>
                                        {{!-- <input type="email" class="form-control"> --}}
                                        <input type="file" name="idProof" id="image" required>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Purpose of stay<span
                                                class="text-warning">*</span></label>
                                        <input type="text" name="PurposeOfStay" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Date of join <span
                                                class="text-warning">*</span></label>
                                        <input type="date" name="DateOfJoin" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail <span
                                                class="text-warning">*</span></label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mobile no<span
                                                class="text-warning">*</span></label>
                                        <input type="number" name="mobile" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>anything More</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="more" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="/hostelOwner/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I
                            love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</div>