<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Guest</h4>
                        <p class="card-category">Complete profile</p>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/hostel/addGuest" enctype="multipart/form-data">
                            <div class="row">
                                {{#if NumberExist}}
                                <div class="alert alert-danger" role="alert" id="alert-login">
                                    <div class="container">
                                        <div class="alert-icon">
                                            <i class="now-ui-icons objects_support-17"></i>
                                        </div>
                                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                {{/if}}
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Name <span class="text-warning">*</span>
                                        </label>
                                        <input type="text" name="Guestname" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Age<span class="text-warning">*</span></label>
                                        <input type="number" name="age" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="">
                                        <label class="bmd-label-floating">Id Proof <span class="text-warning">*</span>
                                        </label>
                                        <br>
                                        {{!-- <input type="email" class="form-control"> --}}
                                        <input type="file" name="idProof" id="image" required>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Purpose of stay<span
                                                class="text-warning">*</span></label>
                                        <input type="text" name="PurposeOfStay" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">RoomNO<span
                                                class="text-warning">*</span></label>
                                        <select name="RoomNo" id="roomno" class="form-control">
                                            {{#each hosteRooms}}
                                            <option value={{this.roomNo}}>{{this.roomNo}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Date of join <span
                                                class="text-warning">*</span></label>
                                        <input type="date" name="DateOfJoin" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail <span
                                                class="text-warning">*</span></label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mobile no<span
                                                class="text-warning">*</span></label>
                                        <input type="number" name="mobile" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>anything More</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="more" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" onclick="validateForm()" class="btn btn-primary pull-right">Update
                                Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>